:root {
    --c-background: #121212;
    --c-font: #eaeaea;
    --c-linksHover: #ffa42e;
    --c-decoration: #eaeaea;
    --font: "Roboto Slab";
    --font-wheight: 400;
    --line-height: 1.5;
    --letter-spacing: 1.4px;
    --word-spacing: normal;
}

* {
    margin: 0;
    padding: 0;
    scrollbar-color: var(--c-font) #eaeaea00;
    scrollbar-width: thin;
}

.disable_mobile {
    display: none;
}

.theme-menu {
    padding-bottom: 20px;;
}

body {
    background-color: var(--c-background);
    color: var(--c-font);
    font-size: 12pt;
    line-height: var(--line-height);
    font-family: var(--font);
    font-weight: var(--font-wheight);
    letter-spacing: var(--letter-spacing);
    word-spacing: var(--word-spacing);
}

li {
    list-style-position: inside;
    text-indent: -20px; 
    padding-left: 20px; 
}

.content-list-mobile li {
    line-height: 1.3;
    padding-bottom: 18px;
}

/* MOBILE/ALLES */

.wrapper {
    width: 96vw;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    height: 95vh;
    margin: 0 auto;
    margin-top: 20px;
    align-content: start;
}

/* CONTENT SECTION */
.content-section {
    width: 100%;
    height: auto;
}

.content-preview-section {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
}

a:hover {
    cursor: pointer;
}

.menu-section {
    width: 100%;
    border-bottom: 2px solid var(--c-decoration);
    margin-bottom: 50px;
    height: fit-content;
    box-sizing: border-box;
}

.sub-nav-div {
    border-top: 2px solid var(--c-decoration);
    padding-bottom: 20px;
}


.image-text-bundle {
    width: 100%;
    padding-bottom: 50px;
}

.text-section {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    hyphens: auto;
}

        h2 {
            padding-bottom: 10px;
        }

        article {
            padding-bottom: 20px;
        }

        article p {
            text-align: justify;
            line-height: 1.2;
        }

        .return-link {
            text-decoration: none;
            float: right;
        }

.story-title {
    font-size: 11pt;
    font-weight: 400;
}

.image-section {
    width: 96vw;
    padding-bottom: 15px;
}

        .image {
            max-height: 90vh;
            max-width: 100%;
            display: flex;
            margin: 0 auto;
            pointer-events: none;
        }

a {
    color: var(--c-font);
    text-decoration: none;
}

a:hover {
    color: var(--c-linksHover);
}
.bold-text {
    font-weight: 1000;
}



.content-list-desktop {
    display: none;
}

.article-preview-card {
    padding-bottom: 5px;
    width: 96%;
}

.article-preview-text {
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 30px;
    width: 350px;
}

.thumbnail {
    width: 175px;
    padding-top: 5px;
}

.content-intro {
    text-align: justify;
    height: fit-content;
    padding-bottom: 50px;
    hyphens: auto;
}

table {
    width: 100%;
}

.image-line {
    display: none;
}

.camera-specs-table {
    padding-bottom: 50px;
}

.camera-specs-table td {
    padding-bottom: 10px;
    vertical-align: top;
    padding-right: 10px;
}

.cst-content {
    hyphens:auto;
}

.intro-line {
    text-align: justify;
    padding-bottom: 30px;
    hyphens: auto;
}

.image-band {
    margin-top: 15px;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.image-band img {
    width: 100%;
    display: block;
    height: auto;
    pointer-events: none;
}

.sub-nav-list {
    hyphens: auto;
}

.image-notes {
    text-align: justify;
    font-size: 10pt;
}

.image-info {
    font-size: 10pt;
}

/*************** DESKTOP */

                @media only screen and (min-width: 1400px) {
                :root {
                    --width-total: 1600px;
                    --width-menu: 350px;
                    --width-space-scrollbar: 20px;
                    --width-text: 320px;
                    --width-image: 700px;
                    --width-content: 1050px;
                }

                .disable_mobile {
                    display: flex;
                }

                
                .overlay {
                    width: 100%;
                    height: 100%;
                    background-color: #000000dc;
                    display: none;
                    position: fixed;
                    top: 0;
                    left: 0;
                    justify-content: center; /* Horizontale Zentrierung */
                    align-items: center;
                    cursor: pointer;
                }
                
                .image-fullsize {
                    height: 80vh;
                    border: 40px solid white;
                    cursor:auto;
                }

                    .wrapper {
                        width: var(--width-total);
                        height: 95vh;
                        overflow-y: hidden;
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        overflow-y: hidden;
                        margin-top: 30px;
                        /* background-color: rgb(218, 62, 62); */
                    }

                    .menu-section {
                        width: var(--width-menu);
                        border-bottom: 0;
                        /* background-color: rgb(230, 214, 68); */
                    }

                    .content-section {
                        width: var(--width-content);
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-content: flex-start;
                        overflow-y: auto;
                        height: 100%;
                        padding-right: var(--width-space-scrollbar); /**for scroll bar*/
                        /* background-color: rgb(146, 230, 68); */
                    }
                    .intro-line {
                        padding-bottom: 50px;
                    }
                    .camera-specs-table {
                        margin-bottom: 50px;
                    }
                    .content-intro {
                        width: var(--width-content);
                        height: fit-content;
                        text-align: justify;

                        /* background-color: rgb(68, 230, 217); */
                    }

                    .content-preview-section {
                        width: var(--width-content);
                        margin-right: 0;
                        padding-right: var(--width-space-scrollbar); /**for scroll bar*/
                        /* background-color: rgb(175, 32, 223); */
                    }

                    .content-list-mobile {
                        display: none;
                    }
                                
                    .content-list-desktop {
                        display: block;
                    }

                    .content-list-desktop li {
                        padding-bottom: 7px;               
                    }

                    .image-text-bundle {
                        width: var(--width-content);
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        /* background-color: rgb(227, 123, 184); */
                    }

                    .text-section {
                        width: var(--width-text);
                        color: var(--c-font); 
                        order: 1;
                        margin-left: 0;
                        /* background-color: rgb(42, 42, 42); */
                    }
                    
                    .image-section {
                        width: var(--width-image);
                        order: 2;
                        /* background-color: rgb(225, 225, 225); */
                    }

                    .image {
                        margin: 0 auto;
                        cursor: pointer;
                        pointer-events: auto;
                    }

                    .return-link {
                        display: none;
                    }

                    .main-nav {
                        padding-right: 15px;
                    }

                    .image-band {
                        margin-top: 15px;
                        width: 100%;
                        height: 170px;
                        overflow-x: auto;
                        display: flex;            /* Bilder horizontal anordnen */
                        overflow-x: auto;         /* Horizontales Scrollen bei Überlauf ermöglichen */
                        white-space: nowrap; 
                        padding-bottom: 15px;
                    }

                    .image-band img {
                        height: 100%;             /* Bilder auf die Höhe des Containers skalieren */
                        width: auto;              /* Seitenverhältnis beibehalten */
                        object-fit: cover;        /* Das Bild wird skaliert, um den Container zu füllen */
                        margin-right: 10px; 
                        cursor: pointer;
                        pointer-events: auto;

                    }

                }

                