{%load static%} 
<!-- 
TEMPLATE 
    für Artikel einer Story
    bekommt:
    eine konkrete Story story
    einen konkreten Artikel article
  -->
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/media/favicon.jpg" type="image/x-icon">
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <title>{{story.title}}</title>
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- FULL SIZE OVERLAY -->
    <div id="id-overlay" onclick="toggleOverlay(event)" class="overlay">
        <image id="id-image-fullsize" class="image-fullsize"></image>
    </div>
    
    <div class="wrapper">

        <div class="menu-section">
            <table>
                <tr>    
                    <td class="main-nav">
                        <!-- main nav -->
                        <div>
                            <nav>
                                <a class="bold-text" href="/">graintopixel.de</a><br>
                                <br>   
                               
                                <a href="/category/stories">Stories</a><br>
                                
                                {% for category in categories %}
                                <a href="/category/{{category.title}}">{{category.title}}</a><br>
                                {% endfor %}
                                <br>

                                <div class="theme-menu disable_mobile">
                                    <a class="disable_mobile" onclick="styleBright()">hell</a>&nbsp;|&nbsp;<a class="disable_mobile" onclick="styleDark()">dunkel</a><br>
                                    <br> 
                                </div>
                                

                                <!-- Chapter nav -->
                                <div class="sub-nav-div">
                                    <br>
                                    <ul class="sub-nav-list">    
                                    {% for chapter in story.chapters.all %}
                                        <li><a class="menu-spacing" href="/story/{{story.id}}/article/{{chapter.id}}">{{chapter.title}}</a></li>
                                    {% endfor %}

                                    </ul>
                                    
                                </div>
                            
                            </nav> 
                        </div>
                    </td> 
                </tr>
            </table>   
        </div>

        <!-- CONTENT -->
        <div class="content-section">

            <!-- CONTENT INTRO-->
            <div class="content-intro">
                <h1>{{article.title}}</h1>
                <h1 class="story-title">in {{story.title}}</h1><br>
                <br>
                <p>
                    {{article.intro_text|safe}}
                </p>   
            </div>
        

            <!-- BUNDLE -->
            {% for image in article.articleimage_set.all %}
            
            <div class ="image-text-bundle">
                <!-- Image -->
                        <br>    
                <div class="image-section">
                    <img onclick="toggleOverlay(event)" loading="lazy" class="image" src="{{image.image.image_file.url}}" alt="">
                </div>

                <!-- Text -->
                <div class ="text-section">
                    <div class="image-intro">
                        <h4>{{image.image.title}}</h4>
                        {{image.image.date_shot|date:"d.m.Y"}}<br>   
                        <br>    
                    </div>

                    {% if image.image.notes %}
                    <p class="image-notes">
                        {{image.image.notes}}<br> 
                        <br> 
                    </p>
                    {% endif %}

                    <div class="image-info">
                        {% for link in linkers %}
                            {% if link.camera.id == image.image.camera.id %}
                                <a href="/category/Kameras/article/{{link.article.id}}">{{image.image.camera.title}}</a><br>  
                            {% elif forloop.counter == linkers.count %}
                                {{image.image.camera.title}}
                            {% endif %}
                        {% endfor %}

                        
                        {% for link in linkers %}
                            {% if linker.film.id == image.image.film.id %}
                                <a href="/category/Filme/article/{{link.article.id}}">{{image.image.film.title}}</a> 
                            {% elif forloop.counter == linkers.count %}
                                {{image.image.film.title}}
                            {% endif %}
                        {% endfor %}
                    </div>    
                    <a href="#" class="return-link">... zurück nach oben</a>
                </div> 
            </div> <!-- image-text-bundle -->  
            {% endfor %}

        </div> <!-- content-section -->            
    </div> <!-- wrapper -->
</body>

</html>
