{%load static%} 

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="media/favicon.jpg" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <title>{{category.title}}</title>
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="menu-section">
            <table>
                <tr>
                    <td class="main-nav">
                        <!-- Main nav -->
                        <div id="id-nav">
                            <nav>
                                <a class="bold-text" href="/">graintopixel.de</a> 
                                <br> 
                                <br>   
                                <a href="stories">Stories</a>
                                <br>
                                {% for category in categories %}
                                <a href="{{category.title}}">{{category.title}}</a>
                                <br>
                                {% endfor %}
                                <br>
                                <div class="theme-menu disable_mobile">
                                    <a class="disable_mobile" onclick="styleBright()">hell</a>&nbsp;|&nbsp;<a class="disable_mobile" onclick="styleDark()">dunkel</a>
                                    <br>    
                                </div>
                            
                            </nav> 
                        </div>
                    </td>          
                </tr>
            </table>   
        </div>

        <div class="content-preview-section">
            <h2>{{category.title}}</h2>
            <ul>
                {% for article in articles %}
                <li>
                    <a href="/category/{{category.title}}/article/{{article.id}}">{{article.title}}</a>
                </li>
                {% endfor %}
            </ul>
            <br>
        </div> <!-- content-preview-section -->         
    </div> <!-- wrapper -->
</body>

</html>
