{%load static%} 

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="media/favicon.jpg" type="image/x-icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <title>Stories</title>
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="wrapper">
        <div class="menu-section">
            <table>
                <tr>
                    <td class="main-nav">
                        <!-- Main nav -->
                        <div>
                            <nav>
                                <a class="bold-text" href="/">graintopixel.de</a> 
                                <br> 
                                <br>   
                                <a href="/category/stories">Stories</a>
                                <br>
                                {% for category in categories %}
                                {% if category.id is not 12 %}
                                <a href="/category/{{category.title}}">{{category.title}}</a>
                                <br>
                                {%endif%}
                                {% endfor %}
                                <a href="/uebermich/18">Über mich</a><br>
                                <br>
                                
                                <div class="theme-menu disable_mobile">
                                    <a class="disable_mobile" onclick="styleBright()">hell</a>&nbsp;|&nbsp;<a class="disable_mobile" onclick="styleDark()">dunkel</a>
                                    <br>    
                                </div>
                            
                            </nav>  
                        </div>
                    </td>          
                </tr>
            </table>   
        </div>

        <div class="content-preview-section">
            <h2>Stories</h2>
            <ul>
                {% for story in stories %}
                <li>
                    <a href="/story/{{story.id}}/article/{{story.first_chapter.id}}">{{story.title}}</a>
                </li>
                {% endfor %}
            </ul>
            
            <br>
        </div> <!-- content-preview-section -->         
    </div> <!-- wrapper -->
</body>

</html>
